@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
 }
header
{
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  header .logo
  {
   position: relative;
   max-width: 80px;
   border-radius: 40px;
   }
header  ul
{
 position: relative;
 display: flex;
  }
  header ul li  {
    list-style: none;
  }
  header ul li a {
    display: inline-block;
    color: black;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

  img {
    max-width: 100%;
  }