@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
 }
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  background: var(--primary-color);
}
:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  --tertiary-color: #5C4033;
}
.dark-mud {
  --primary-color: 	#202225;
  --secondary-color: #fff;
  --tertiary-color: #fff;
}

#icon {
  width: 30px;
  cursor: pointer;
  padding-left: 5px;
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}
section
{
 position: relative;
 background: var(--primary-color);
 width: 100%;
 min-height: 15vh;
 padding: 28px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.header1
{
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  }
  .header1 .logo
  {
   position: relative;
   max-width: 80px;
   border-radius: 40px;
   }
   .header1 a {
    text-decoration: none; 
   }
   .header1 a h1 {
    padding-right: 60vh;
    font-size: 32px;
    color: var(--tertiary-color);
   }
  
   .header1  ul
{
 position: relative;
 display: flex;
 flex: -1;
 text-align: right;
  }
  .header1 ul li  {
    list-style: none;
  }
  .header1 ul li a {
    display: inline-block;
    color: var(--secondary-color);
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
  }
  @media (max-width: 991px) {
    header {
      padding: 20px;
    }
  header .logo {
    max-width: 60px;
  }
  header a h1 {
    padding-right: 3vh;
    font-size: 28px;
  }
  header ul {
    display: none;
  }
    .kontingjslangsirhehe
  {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: url("menu.png");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
  z-index: 11;
  }
  .kontingjslangsirhehe.active
  {
  position: fixed;
  right: 20px;
  background: url("close.png");
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  }
  
  header ul.navigation.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--primary-color);
    z-index: 10;
  }
  
  header ul li a {
    font-size: 1.5em;
    margin: 5px 0;
  }
  section {
    padding: 20px 20px 120px;
  }
  
    .content
    {
     flex-direction: column;
     margin-top: 100px;
   
    }
    .content .textBox h2{
    color: #5C4033;
    font-size: 2.5em;
    margin-bottom: 15px;
    }
   .content .textBox {
    max-width: 100%;
   }
  
  .menu {
    padding-right: 29vh;
  }
  
  }


  

.cart{
    padding-bottom: 15vh;
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
.cart1 {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
.cart1 .shopping{
    position: relative;
    text-align: right;
}
.cart1 .shopping img{
    width: 40px;
}
.cart1 .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
    height: 430px;
    object-fit: cover;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: var(--secondary-color);
    height: 100vh;
    transition: 0.5s;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: var(--tertiary-color);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}




.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.ul1{
	list-style: none;
}
.footer{
  border-top-left-radius: 100px;  
  border-top-right-radius: 100px;  
  background-color: #5C4033;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;                           
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col .ul1 li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col .ul1 li a{
	font-size: 16px;
	text-transform: capitalize;
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col .ul1 li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer-col .kapirayt {
  color: #fff;
    line-height: 40px;
    font-size: 0.7em;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

